complexity:
  active: true
  CyclomaticComplexMethod:
    active: true
    threshold: 100
  TooManyFunctions:
    active: false
  NestedBlockDepth:
    active: true
    threshold: 10
  LongMethod:
    active: false

style:
  active: true
  MagicNumber:
    active: false
  WildcardImport:
    active: false
  NewLineAtEndOfFile:
    active: false
  ReturnCount:
    active: false
  MaxLineLength:
    active: false